.item-footer {
    margin-top: 16px;
    font-size: 14px;
}

.item-footer-text-title {
    padding-top: .7rem;
}

.item-footer-text {
    font-weight: 300;
    margin-top: 5px;
    font-size: 14px;
}

.box-item-footer-text {
    margin-top: 10px;
}

.img-starts {
    margin-right: 10px;
}

.copy-right {
    margin-top: 5%;
    margin-bottom: 2%;
    text-align: center !important;
}