/* 0:H   0:?  0:button   0:?*/

.nav-bar-header-items {
    padding: 12px 0 12px 0;
    font-weight: 600;
}

.nav-bar-header-items-text {
    padding-top: 12px;
}

.nav-bar-header-items-end {
    margin-left: 10%;
}

.nav-bar-header-items-end {
    margin-left: 20%;
}

.nav-bar-border {
    border-right: 1px solid hsla(0, 0%, 100%, 0.24);
    padding-top: 0 !important;
    padding-right: 30px !important;
}

.nav-bar {
    text-transform: uppercase !important;
    font-size: 14px;
    background: #303141;
    color: white;
    padding-bottom: 5px;
    border-bottom: 1px solid #294898;
}

.logo {
    padding-top: 0 !important;
}

.content-item {
    display: contents;
}

.aling-item-end {
    width: 100px !important;
}

.firt-item {
    margin-left: 50px;
}

.last-item {
    padding-top: 0;
}

.box-sigin {
    background: #39e29d;
    color: #303141;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #294898;
}

.container-page-header {
    margin-top: 10px !important;
    margin-right: 20px !important;
    padding-bottom: 5px;
}

@media (max-width: 1500px) {
  #my-items-nav-bar {
    display: none;
  }
}


/*quitar borde si max-width: 1500px*/
@media (max-width: 1500px) {
  .nav-bar-border {
    border-right: none;
  }
}