select {
    all: unset;
    color: white;
    position: relative;
    width: 100%;
    padding: 6px 20px 6px 20px;
}

option {
    color: black;
}

.my-select-group-background {
    background-color: var(--main-color-input-background);
    border-radius: 0.25rem;
}

.my-select-without-border .my-select-group-background {
    border-radius: 0;
}

.my-select-group-background .my-input-group-background {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
}

.my-select-group-background .my-input-group-background .my-select {
    padding-left: 6px;
    margin-top: 6px;
}

.select-border-right {
  border-right: 1px solid #4c6085;
}

.my-select-label {
    padding-left: 6px;
    font-size: 10px;
    position: absolute;
}

.my-select-games .my-select {
    padding-bottom: 12px;
}