.my-card {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 240px;
    background-color: #34384b;
    border-radius: 0.25rem;
    overflow: hidden;
}

.my-card #my-card {
    font-size: 16px;
    margin: 25px;
}

.my-card .tittle-card {
    font-size: 14px;
    letter-spacing: .68px;
}

.my-card .price-card {
    font-size: 12px;
    letter-spacing: .56px;
    font-weight: 700;
}

.my-card .content-card {
    margin-top: 2vh;
}

.my-card .content-card-description {
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: .52px;
}

.my-card .content-card-button {
}

.my-card .button-box-buy {
    background: #5762d5;
    color: #f4f4fc;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.my-card .button-box-detail {
    background: #363a4c;
    color: #93959f;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
}

.content-card-buttons {
    margin-top: 2vh;
}

.content-card-buttons div {
    font-weight: 600;
}

.my-card .content-card-buttons .row .col .button-box-buy {
}

.my-card .price-card .old-price-card {
    margin-left: 5px;
    text-decoration: 2px line-through solid #fd4a4a;
    font-weight: 200;

}

.my-card .img-content-card {
    margin-top: 2vh;
}

.row {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.aling-col-right {
    float: right !important;
}

.button-box-buy-img {
    background-color: #454da8;
    margin-left: 5px;
    padding: 6px 9px;
    border-radius: 3px;
    position: relative;
}