.my-card {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 212px;
    background-color: var(--main-color-item);
    border-radius: 0.25rem;
    overflow: hidden;
    margin-top: 2%;
}

.my-card #my-card {
    font-size: 16px;
    margin: 21px;
}

.my-card .tittle-card {
    font-size: 14px;
    letter-spacing: .68px;
}

.my-card .price-card {
    font-size: 12px;
    letter-spacing: .56px;
    font-weight: 700;
}

.my-card .content-card {
    margin-top: 2vh;
}

.my-card .content-card-description {
    margin-top: 5px;
    font-size: 10px;
    letter-spacing: .52px;
}

.my-card .content-card-button {
}

.my-card .button-box-buy {
    background: #5762d5;
    color: #f4f4fc;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}

.my-card .button-box-detail {
    background: #363a4c;
    color: #93959f;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 400;
}

.content-card-buttons {
    margin-top: 2vh;
}

.content-card-buttons div {
    font-weight: 600;
}

.my-card .content-card-buttons .row .col .button-box-buy {
}

.my-card .price-card .old-price-card {
    margin-left: 5px;
    text-decoration: 2px line-through solid #fd4a4a;
    font-weight: 200;

}

.my-card .img-content-card {
    margin-top: 2vh;
}

.row {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.aling-col-right {
    float: right !important;
}

.button-box-buy-img {
    background-color: #454da8;
    margin-left: 5px;
    padding: 4px 7px;
    border-radius: 3px;
    position: relative;
}

.dot-sale {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #39e29d;
}

.my-card .text-sale {
    font-size: 10px;
    letter-spacing: .52px;
}

.my-card .text-sale span {
    margin-left: 1vh;
    margin-top: 1px;
    position: absolute;
}

.my-card .text-stock {
    border-radius: 2px;
    color: #39e29d;
    padding-left: 9px;
    padding-right: 9px;
    font-weight: 300;
    border: 1px solid #39e29d;
    padding-bottom: 3px;
    position: absolute;
    margin-top: 12px;
}

.my-card .out-sale {
    color: var(--main-color-item);
}
