body {
    background: #37384b;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: .68px;
    overflow: hidden;
}

.container-page {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

div {
    border: 1px solid red;
}
