:root {
    --main-color-page-border: #2e529c;
    --main-color-background: #303141;
    --main-color-input-background: rgba(76,96,133,.3);
}

body {
    background: var(--main-color-background) !important;
    /*background: url("/src/assets/img/backgrounds/zelda.jpg") !important;*/
    color: #fff !important;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: .68px;
    height: 100vh;
}

.container-page {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.container-main-page {
    width: 1260px;
    margin: 0 auto;
}

.background-img {
    position: relative;
    background: url("/src/assets/img/backgrounds/zelda.jpg") !important;
}

.background-bank {
    padding-top: 35px;
    padding-bottom: 20px;
    background: #2b2c3c;
    color: hsla(0, 0%, 100%, .75) !important;
}

.background-social {
    padding-top: 35px;
    padding-bottom: 20px;
    background: var(--main-color-background);
    color: hsla(0, 0%, 100%, .75) !important;
}

.background-footer {
    background: var(--main-color-background);
    color: hsla(0, 0%, 100%, .75) !important;
}

hr {
    border-color: var(--main-color-page-border) !important;
    border-width: 2px 0 0 0 !important;
}

/*for debug*/
div {
    /*border: 1px solid red;*/
}
